body {
  background-color: rgb(78, 78, 78);
}

#map {
  height: 90vh;
  width: 90vw;
  margin: auto;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

.plane {
  filter: hue-rotate(58deg);
}

#windy {
  height: 90vh;
  width: 90vw;
  margin: auto;
}

#overlays {
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 1000;
  background: aliceblue;
  width: fit-content;
  border-radius: 4px;
  padding: 5px 10px;
}

;

#sun {
  position: absolute;
  right: 10px;
  top: 60px;
  z-index: 1000;
  background: aliceblue;
  width: fit-content;
  border-radius: 4px;
  padding: 10px;
}

#polygon {
  position: absolute;
  right: 10px;
  top: 180px;
  z-index: 1000;
  background: aliceblue;
  width: fit-content;
  border-radius: 4px;
  padding: 10px;
}